{%extends 'layout.html'%}
{%block body%}

<div class="row">
        <div class="col-md-12">
                <table class="table table-striped table-bordered bg-white table-sm">
                        <thead>
                            <tr>
                                <td>ID</td>
                                <td>NOMBRE</td>
                                <td>OPCIONES</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for editorial in editorials %}  
                            <tr>
                                <td>{{editorial.0}}</td>
                                <td><a href="/libros_por_editorial/{{editorial.0}}">{{editorial.1}}</a></td>
                                <td>
                                    <a href="/editeditorial/{{editorial.0}}" class="btn btn-secondary">EDITAR</a>
                                    <a href="/deleteeditorial/{{editorial.0}}" class="btn btn-danger btn-delete">BORRAR</a>
                                </td>
                            {% endfor %}
                               
                            </tr>
                        </tbody>
                    </table>
        </div>
    </div>



{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
{% endfor %}
{% endif %}
{% endwith %}

{%endblock%}